<div class="row bg-light ">
    <div class="col-md-10 bg-white border rounded m-5 p-5">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-5 mx-5">
                <img class="img-fluid" src="../../../../assets/images/company-member/m2.png">
                <br>
                <strong>UserID</strong><br>
                <h5>Manu<br>
                Java Developer<br>
                9876543210<br>
                manu@gmail.com</h5>

                <div class="w3-show-inline-block mt-3">
                    <div class="w3-bar">
                      <button class="btn custom-color rounded-pill w3-btn w3-teal mx-2">View</button>
                      <button class="btn custom-color rounded-pill w3-btn w3-teal mx-2">Delete</button>
                      </div>
                      </div>
               
                
            </div>
            <div class="col-md-5 ">
                <img class="img-fluid" src="../../../../assets/images/company-member/m1.png">
                <br>
                <strong>UserID</strong><br>
                <h5>Lamiya<br>
                H.R Manager<br>
                9231457680<br>
                lamiya@gmail.com</h5>
                <div class="w3-show-inline-block mt-3">
                    <div class="w3-bar">
                      <button class="btn custom-color rounded-pill w3-btn w3-teal mx-2">View</button>
                      <button class="btn custom-color rounded-pill w3-btn w3-teal mx-2">Delete</button>
                      </div>
                      </div>
               
            </div>
        </div>
      
    </div>
</div>
