<div class="row p-2 rounded bg-white m-1 mt-3">

    <div class="col-md-1"></div>
    <div class="col-md-6 p-4 border-bottom border-2  ">
        <h3>Schedule Interview</h3>
    </div>
    <form [formGroup]="ScheduleInteriewForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-9">

                <div class="form-group p-4">
                    <label for="exampleInputEmail1">Job Title</label>
                    <div class="input-group">
                        <input type="text" class="form-control mx-3" formControlName="jobTitle" placeholder="please enter your job Title">
                    </div>
                    <div class="error-message"
                        *ngIf="ScheduleInteriewForm.controls['jobTitle'].invalid && ScheduleInteriewForm.controls['jobTitle'].touched">
                        Job Title is required.
                    </div>
                </div>
                
                <div class="form-group p-4">
                    <label for="exampleInputUsername1">Location</label>
                    <div class="input-group">
                        <input type="text" class="form-control mx-3" formControlName="location" placeholder="please enter your location">
                        <img src="../../../../assets/images/Applications/location 1.png" alt="Location Image" class="input-image">
                    </div>
                    <div class="error-message"
                        *ngIf="ScheduleInteriewForm.controls['location'].invalid && ScheduleInteriewForm.controls['location'].touched">
                        Location is required.
                    </div>
                </div>
                
                <div class="form-group p-4">
                    <label for="interviewDate">Interview Date</label>
                    <div class="input-group">
                        <input type="date" class="form-control mx-3" formControlName="interviewDate">
                        <img src="../../../../assets/images/Applications/calendar (4) 1.png" alt="Interview Date Image" class="input-image">
                    </div>
                    <div class="error-message"
                        *ngIf="ScheduleInteriewForm.controls['interviewDate'].invalid && ScheduleInteriewForm.controls['interviewDate'].touched">
                        Interview Date is required.
                    </div>
                </div>
                
                <div class="form-group p-4">
                    <label for="interviewTime">Interview Time</label>
                    <div class="input-group">
                        <input type="time" class="form-control mx-3" formControlName="interviewTime">
                        <img src="../../../../assets/images/Applications/clock 1.png" alt="Interview Time Image" class="input-image">
                    </div>
                    <div class="error-message"
                        *ngIf="ScheduleInteriewForm.controls['interviewTime'].invalid && ScheduleInteriewForm.controls['interviewTime'].touched">
                        Interview Time is required.
                    </div>
                </div>                


                <div class="row">
                    <div class="col-md-4 p-4 ms-3 d-inline"><button type="submit" class="btn p-2 text-white px-5"
                            style="background-color: #20A6FC;">Send</button></div>


                </div>

            </div>
        </div>

    </form>